* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Colors */
  --pri-purple: #878af5;
  --pri-purple-accent: #666af6;
  --sec-dark-blue: #31446c;
  --sec-yellow: #f5a921;
  --sec-orange: #f4863c;
}

h1,
h2 {
  color: var(--sec-dark-blue);
}

main {
  background-color: var(--pri-purple);
}
