.block_content {
  padding: 4.5px 2px;

  position: relative;

  transition: 0.3s;
}

.block_content:focus {
  outline: none;
}

.block_content:hover:not(:focus) {
  border-radius: 4px;
  background-color: #eeeeee;
}

.block_content:empty:focus:before {
  content: attr(data-placeholder-text);
  color: #999999;
}
