.block {
  padding: 3px 2px;

  transition: 0.3s;
}

.block:focus {
  outline: none;
}

.block:hover:not(:focus) {
  border-radius: 4px;
  background-color: #eeeeee;
}

.block:empty:focus:before {
  content: attr(data-placeholder-text);
  color: #999999;
}
