{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'todo_django/images/memo.png' %}">
    <link rel="stylesheet" href="{% static 'todo_django/style.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>To-do</title>
  </head>

  <body class="d-flex flex-column justify-content-center align-items-center vw-100 vh-100">
    <main class="d-flex flex-column p-3 rounded-3 position-relative" style="width: 600px; height: 600px;">
      <header class="p-3">
        <h1>Hello there!</h1>
        <h2>Here are your To-Do Items for today.</h2>
      </header>
      <div id="listOfTodoItems" class="flex-grow-1 p-3 mt-3">
        <div id="listWrapper" class="rounded-3">
          {% for todoitem in allTodoItemObjects %}
            <div id="todoitem-{{ todoitem.id }}" class="d-flex flex-row align-items-center mb-3 p-3 rounded-3 todoItem">
              <input type="checkbox" name="todoitem-checkbox-{{ todoitem.id }}" id="todoitem-checkbox-{{ todoitem.id }}" />
              <div class="ms-3">{{ todoitem.detail }}</div>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Button to trigger modal -->
      <button type="button" class="btn btn-outline-light position-absolute bottom-5 end-5" data-bs-toggle="modal" data-bs-target="#addTodoItemModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
        </svg>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="addTodoItemModal" tabindex="-1" aria-labelledby="addTodoItemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addTodoItemModalLabel">Add To-Do Item</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="addTodoItemForm" class="row g-3 needs-validation" novalidate>
                <div class="col">
                  <label for="todoItemDetail" class="form-label">To-Do Item Detail</label>
                  <input type="text" class="form-control" id="todoItemDetail" placeholder="Enter your To-Do Item here..." required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please enter the To-Do Item Detail.
                  </div>
                </div>
                <div class="col-12">
                  <button id="addTodoItemButton" type="submit" class="btn btn-primary">Add!</button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </main>
  </body>

  <script defer src="{% static 'todo_django/index.js' %}"></script>

  <!-- Bootstrap Popper & JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>
