section {
  /* width: 100%;
  height: 100%; */

  max-width: 420px;
  min-height: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
