* {
  box-sizing: border-box;
  margin: 0;

  background-color: #d2d2d4;

  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-yellow: #f1f58f;
  --color-yellow-dark: #d6d984;
  --color-orange: #ffa930;
  --color-orange-dark: #de9835;
  --color-pink: #ff32b2;
  --color-pink-dark: #cc3d95;
  --color-blue: #a9edf1;
  --color-blue-dark: #93c4c7;
  --color-green: #74ed4b;
  --color-green-dark: #6bd149;
}

#sticky-note {
  height: 200px;
  width: 200px;

  cursor: grab;

  background-color: var(--color-blue);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  position: absolute;
}

#sticky-note:active {
  cursor: grabbing;
  outline: 10px black dashed;
}

#add-sticky-note {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80px;

  position: absolute;
  bottom: 20px;
  left: 20px;
}

#add-sticky-note:hover {
  cursor: pointer;
}

#add-sticky-note:active > svg > path {
  fill: var(--color-orange-dark);
}

path {
  fill: var(--color-orange);
}

#sticky-note-header {
  background-color: var(--color-blue-dark);

  height: 40px;
}
