* {
  box-sizing: border-box;
  margin: 0;

  background-color: #e8e9eb;

  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

:root {
  --color-yellow: #f1f58f;
  --color-orange: #ffa930;
  --color-pink: #ff32b2;
  --color-blue: #a9edf1;
  --color-green: #74ed4b;
}

#sticky-note {
  height: 200px;
  width: 200px;

  padding: 10px;

  cursor: grab;

  background-color: var(--color-blue);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

  position: absolute;
}

#sticky-note:active {
  cursor: grabbing;
  outline: 10px black dashed;
}
